//Variables
$font-primary : 'Nunito', sans-serif;
$font-secondary : 'Roboto',  sans-serif;


$color-primary-dark : rgb(250,184,25);
$color-primary-light : rgb(255,229,152);
$color-secondary : rgb(27,62,57);


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-weight: 400;
}

.container {
  display: grid;
  //grid-template-columns: repeat(10,1fr);
  grid-template-columns: minmax(2rem,1fr) [grid-start]repeat(8,minmax(min-content,18rem))[grid-end] minmax(2rem,1fr);
  grid-template-rows: auto;
  grid-gap: 4rem;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media screen  and  (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .container {
    grid-template-columns: [grid-start]repeat(8,minmax(min-content,18rem))[grid-end];
    grid-gap: 1rem;
    padding: 0 2rem;
  }
}



