.hero {
  grid-column: grid-start / grid-end;

  display: flex;
  justify-content: space-around;
  padding: 4rem 0;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    //margin-right: 10rem;
    font-size: 0.8rem;
  }
  &__title {
    font-size: 5.8rem;
  }

  &__img {
    width: 25vw;
  }
  &__text {
    font-size: 3.6em;
  }
  //&__cta {
  //  box-shadow:  0 0 15px rgba($color-primary-dark, 0.4);
  //  display: block;
  //  align-self: flex-start;
  //  cursor: pointer !important;
  //}
  &__cta {
    display: block;
    align-self: flex-start;
    background: linear-gradient(90deg, #ffd327, #ffd647);
    font-size: 2.4em;
    color: $color-secondary;
    text-decoration: none;
    font-weight: 600;
    padding: 2rem 6rem;
    border-radius: 48px;
    box-shadow:  0 0 15px rgba($color-primary-light,0.4);
    &:hover {
      cursor: pointer;

    }
  }
}

@media (max-width : 900px) { 
  .hero {
    flex-direction: column;
    align-items: center;
    &__content {
      text-align: center;
      margin-top: 2rem;
    }
    &__text {
      margin-top: 1rem;
    }
    &__cta {
      margin: 2rem auto 0 auto;
    }
  }
  
}